@font-face {
  font-family: 'ubuntu-web';
  src: url('/font/ubuntu.woff') format('woff'),
    url('/font/ubuntu.ttf') format('truetype');
}

h1 {
  font-size: 3em;
  font-family: ubuntu, ubuntu-web, sans-serif;
  color: #000;
}

h1 img {
  vertical-align: middle;
  height: 1.5em;
}

h1 .humans {
  color: #777;
}

.sudoroom {
  font-family: ubuntu, ubuntu-web, sans-serif;
}
.sudoroom .sudo {
  font-weight: bold;
  color: #ed1d24;
}

.sudoroom .room {
  margin-left: -0.5ex;
  color: #000;
}
