@font-face {
  font-family: 'ubuntu-web';
  src: url('/font/ubuntu.woff') format('woff'),
    url('/font/ubuntu.ttf') format('truetype');
}

body {
  font-family: ubuntu, ubuntu-web, sans-serif;
}

h1 {
  font-size: 3em;
  color: #000;
}

h1 img {
  vertical-align: middle;
  height: 1.5em;
}

h1 .humans {
  color: #777;
}

.sudoroom {
  display: inline-block;
  font-family: ubuntu, ubuntu-web, sans-serif;
}
.sudoroom .sudo {
  color: #ed1d24;
}

.sudoroom .room {
  margin-left: -0.5ex;
  color: #000;
}

#header {
}

#header h1 {
  display: inline-block;
  margin-top: 0em;
  margin-right: 2ex;
}

#header button {
  display: inline-block;
  vertical-align: middle;
  width: 20ex;
  padding: 1em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  margin-right: 1ex;
  border-radius: 10px;
  border: 0px;
  background-color: #ed1d24;
  color: white;
  font-size: 1.2em;
}

#header .buttons {
  display: inline-block;
  vertical-align: middle;
  margin-top: -1.5em;
  min-height: 4em;
}
