@font-face {
  font-family: 'ubuntu-web';
  src: url('/font/ubuntu.woff') format('woff'),
    url('/font/ubuntu.ttf') format('truetype');
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
	}

body {
  font-family: ubuntu, ubuntu-web, sans-serif;
  margin-bottom: 100px;
  padding: 10px;
}

#header {
  margin:auto;
  text-align:center;
}

#header h1 {
  display: inline-block;
  margin-top: 0em;
  margin-right: 2ex;
  font-size: 2em;
  color: #7e6c6c;
}

#header h1 span {
  display: inline-block;
}

#header h1 .humans {
  margin-left: 0.5ex;
  vertical-align: middle;
  margin-bottom: 0.25em;
}

#header h1 .signed-in {
  margin-left: 0.5ex;
}

#header h1 img {
  vertical-align: top;
  height: 2em;
  margin-top: 4px;
}

#header .sudoroom {
  font-size: 1.5em;
}

.sudoroom {
  display: inline-block;
  font-family: ubuntu, ubuntu-web, sans-serif;
}
.sudoroom .sudo {
  color: #ed1d24;
}

.sudoroom .room {
  margin-left: -0.5ex;
  color: #000;
}

button.bigred {
  display: inline-block;
  vertical-align: middle;
  min-width: 15ex;
  padding: 0.5em;
  margin-top: 0.75em;
  margin-bottom: 0.25em;
  margin-right: 1ex;
  border-radius: 5px;
  border: 0px;
  background-color: #ed1d24;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
}

button.bigred:hover {
  background-color: #ff222b;
} 

#header .buttons {
  display: inline-block;
  vertical-align: middle;
  margin-top: -1.5em;
  min-height: 4em;
  padding: 0 5px;
}

#header a {
  text-decoration: none;
}

#content .chunk {
  max-width: 800px;
  margin: auto;
  padding: 2em;
  border-radius: 15px;
  background-color: #e2d0d0;
}

.chunk textarea {
  display: block;
  margin: auto;
  width: 100%;
  height: 15em;
}

.chunk table th {
  text-align: right;
  padding-right: 1ex;
}

.chunk table {
  display: block;
  margin-bottom: 1em;
}

.block {
  margin-bottom: 2em;
}

.center {
  text-align: center;
}

#content form input[type="text"],
#content form input[type="password"] {
  padding: 0.5em;
}

#content .chunk h2 {
  margin-top: -0.5em;
  color: white;
  background-color: black;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-left: -1.3em;
  margin-right: -1.3em;
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: -1.3em;
}

#content form select {
  padding: 0.5em;
}

#content #create-account p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#content #create-account .privacy {
  margin-top: 1em;
  margin-bottom: 2em;
  background-color: #f0e2e2;
  padding: 1em;
  padding-left: 2em;
  border-radius: 15px;
}

#content #create-account .privacy h3 {
  margin-top: 0em;
}

#content #create-account [type="submit"] {
  margin-top: 1em;
}

#content .msg {
  max-width: 800px;
  margin: auto;
  padding: 2em;
  border-radius: 5px;
  background-color: #e2d0d0;
  margin-top: 1em;
  margin-bottom: 1em;
}

#content .actions {
  max-width:800px;
  margin:auto;
}

#content .activity {
  padding: 10px;
  margin-bottom: 2em;
  display:inline-block;
  float:left;
}

#content .activity h2 {
  margin-top: 0em;
  margin-bottom: 0em;
}

#content .activity .event {
  margin-left: 1em;
}

#content .data-hl {
  padding: 10px;
  margin-bottom: 2em;
  display:inline-block;
  float:right;
}

#content .data-hl h2 {
  margin-top: 0em;
  margin-bottom: 0em;
}

#content .data-hl .datum {
  margin-left: 1em;
}

#content .hbar {
  max-width: 800px;
  padding: 10px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #ed1d24;
  min-height: 120px;
  border-radius: 5px;
  margin-top: 1em;
  margin-bottom: 2em;
}

#content .hbar .title {
  background-color: #000;
  color: #e2d0d0;
  padding: 5px;
  margin-top: -1em;
  max-width: 600px;
  border-top-right-radius: 5px;
  padding-left: 15px;
}

#content .hitem {
  display: inline-block;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  background-color: #000;
  color: #e2d0d0;
  margin-right: 5px;
  margin-left: 5px;
}

#content .error {
  max-width: 800px;
  margin: auto;
  padding: 2em;
  border-radius: 15px;
  background-color: #e2d0d0;
}

#main .member img.avatar {
  width: 64px;
  height: 64px;
}

#main .member .name {
  margin-top: 0.5em;
}

#main .member {
  margin-bottom: 1em;
  display: inline-block;
  cursor: pointer;
}

#main .activity .event .date {
  color: #7e6c6c;
}

#profile {
  max-width: 800px;
  margin: auto;
  padding: 2em;
  border-radius: 15px;
}

#profile h2 {
  background-color: #000;
  color: white;
  padding: 0.5em;
  padding-right: 2.5ex;
  margin-right: 2ex;
  border-top-right-radius: 15px;
  padding-left: 2ex;
  margin-left: -2ex;
  margin-top: -1em;
}

#profile .header .button {
  float: right;
}

#profile .header button {
  padding: 0.5em;
  min-width: 10ex;
  background-color: #f0f0f0;
  border-width: 0px;
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer;
}

#profile .header button:hover {
  background-color: #ffc0c0;
}

#profile table th {
  background-color: #f0f0f0;
  padding: 0.5em;
  border-radius: 3px;
}

#profile table td {
  padding-left: 2ex;
}

#profile .left {
  display: inline-block;
  width: 100px;
  vertical-align: top;
}

#profile .avatar {
  width: 64px;
  height: 64px;
}

#profile .right {
  display: inline-block;
}

#profile .top-info {
  margin-bottom: 2em;
}

#edit-profile .avatar .left {
  display: inline-block;
  width: 100px;
}

#edit-profile .avatar .right {
  display: inline-block;
  vertical-align: top;
}

#edit-profile .avatar img {
  width: 64px;
  height: 64px;
}

#edit-profile .links button {
  padding: 0.6em;
  background-color: #24bd1d;
  border-width: 0px;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
#edit-profile .links button:hover {
  background-color: #24ed1d;
}

#footer {
  margin:auto;
  text-align:center;
}
